In [54]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix
import matplotlib.pyplot as plt
from sklearn import tree
import seaborn as sns
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [55]:
df=pd.read_csv("FraudDetection.csv")
df.info()

<ipython-input-55-df47920e164c>:1: DtypeWarning: Columns (3,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("FraudDetection.csv")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048562 entries, 0 to 1048561
Data columns (total 11 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   step            1019513 non-null  float64
 1   type            1019513 non-null  object
 2   amount          1019513 non-null  float64
 3   nameOrig        361 non-null      object
 4   oldbalanceOrg   361 non-null      float64
 5   newbalanceOrig  361 non-null      float64
 6   nameDest        361 non-null      object
 7   oldbalanceDest  361 non-null      float64
 8   newbalanceDest  361 non-null      float64
 9   isFraud         361 non-null      float64
 10  isFlaggedFraud  361 non-null      float64
dtypes: float64(8), object(3)
memory usage: 88.0+ MB

In [56]:
df.shape

(1048562, 11)

In [57]:
df.isnull().sum()

step                29049
type                29049
amount              29049
nameOrig          1048201
oldbalanceOrg     1048201
newbalanceOrig    1048201
nameDest          1048201
oldbalanceDest    1048201
newbalanceDest    1048201
isFraud           1048201
isFlaggedFraud    1048201
dtype: int64

In [58]:
#to see what type of records are in each column
df.nunique()

step                  47
type                   5
amount            983852
nameOrig             361
oldbalanceOrg        214
newbalanceOrig       153
nameDest             271
oldbalanceDest       177
newbalanceDest        64
isFraud                2
isFlaggedFraud         1
dtype: int64

In [59]:
df.drop(['nameOrig', 'nameDest', 'isFlaggedFraud'], axis=1, inplace=True, errors='ignore')

In [60]:
df.dropna(inplace=True)
df.isnull().sum()

step              0
type              0
amount            0
oldbalanceOrg     0
newbalanceOrig    0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
dtype: int64

In [61]:
df.shape

(361, 8)

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 361 entries, 0 to 360
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   step            361 non-null    float64
 1   type            361 non-null    object
 2   amount          361 non-null    float64
 3   oldbalanceOrg   361 non-null    float64
 4   newbalanceOrig  361 non-null    float64
 5   oldbalanceDest  361 non-null    float64
 6   newbalanceDest  361 non-null    float64
 7   isFraud         361 non-null    float64
dtypes: float64(7), object(1)
memory usage: 25.4+ KB

In [63]:
Encoder=LabelEncoder()
df['type']=Encoder.fit_transform(df['type'])

In [64]:
x=df.drop(['isFraud'],axis=1)
y=df['isFraud']

In [75]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [76]:
# Default model
rf_default = RandomForestClassifier()
rf_default.fit(X_train, y_train)

# Predictions and metrics
y_pred_default = rf_default.predict(X_test)

print("Default Model Performance:\n")
print((accuracy_score(y_test, y_pred_default))*100)

Default Model Performance:

98.63013698630137

In [77]:
# Tuned model
rf_tuned = RandomForestClassifier(n_estimators=200,criterion='entropy', max_depth=5, min_samples_split=15, random_state=42)
rf_tuned.fit(X_train, y_train)

# Predictions and metrics
y_pred_tuned = rf_tuned.predict(X_test)

print("Tuned Model Performance:\n")
print((accuracy_score(y_test, y_pred_tuned))*100)

Tuned Model Performance:

98.63013698630137

In [78]:
print((accuracy_score(y_test, y_pred_tuned)-accuracy_score(y_test, y_pred_default)))

0.0